<h1>Register Aquanaut!</h1>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_row(form.email) }}
    {{ form_row(form.username) }}
    {{ form_row(form.last_name) }}
    {{ form_row(form.plainPassword) }}
    <button type="submit"class="btn btn-primary" data-label="Enregistrer">
            Enregistrer
    </button>
{{ form_end(form) }}