<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Compétences</h2>
            <hr class="my-4">
        </div>
    </div>
</div>
<div class="container" id="skills">
    {% if is_granted('ROLE_ADMIN') %}
            <a href="/addSkill"> ajouter une compétence</a>
        {% endif %}
    <div class="row"> 
        {% for skill in data['skills'] %}
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i> 
                    <h3 class="mb-3">{{ skill.title }}</h3>
                    <p class="text-muted mb-0">{{ skill.content }}.</p>
                    {# <a href="{{ path('deleteSkill', {id : skill.id}) }}"> suprrimer la compétence</a> #}
                    <button class="deleteBtn" id="{{ skill.id }}">Remove</button>
                </div>
            </div>   
        {% endfor %} 
            <a href="#" class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-plus text-primary mb-3 sr-icon-1"></i> 
                    <h3 class="mb-3">ajouter un article</h3>
                    {# <a href="{{ path('deleteSkill', {id : skill.id}) }}"> suprrimer la compétence</a> #}
                </div>
            </a> 
    </div>
</div>
 

