<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" lang="fr">
        {% block stylesheets %}
            {{ encore_entry_link_tags('securityPage') }}
        {% endblock %}
    </head>
    <body>{#<a href="{{ path('home', {'currrentUser': user.username}) }} ">Retour à la page principale</a>#}
        <a href="{{ path('fos_user_security_login') }}">Se connecter</a>
        <a href="{{ path('fos_user_registration_register') }}">Créer un compte</a>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                {% for user in users %}
                    <a href="{{ path('home', {'currentUser': user.username}) }} ">
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="service-box mt-5 mx-auto" >
                                <h3 class="mb-3">{{ user.username }}</h3>
                                {% if is_granted('ROLE_ADMIN') %}
                                
                                {% endif %}
                            </div>
                        </div>  
                    </a> 
                {% endfor %} 
            </div>
        </div>
        {% block body %}{% endblock %}

    
     

    </body>
</html>