<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" lang="fr">
        {% block stylesheets %}
            {{ encore_entry_link_tags('securityPage') }}
        {% endblock %}
    </head>
    <body>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('main') }} ">Retourner sur mon blog</a>
        {% else %}
            <a href="{{ path('main') }} ">Retourner à la page d'accueil </a>    
        {% endif %}
        <div class="wrapper fadeInDown">
            <div id="formContent">
            <h1>Cliquez sur un profil pour voir le blog complet</h1>
                {% for user in users %}
                    <a href="{{ path('home', {'currentUser': user.username}) }} "> 
                        <h3>{{ user.username }}</h3>
                        {% if is_granted('ROLE_ADMIN') %}
                           <a href="{{ path('deleteUser', {'User': user.username}) }} ">Supprimer le profil</a>
                        {% endif %}
                    </a> 
                {% endfor %} 
            </div>
        </div>

    </body>
</html>