
{{ form_start(form, {'attr': {'id': 'form_message'}})}}
	{{ form_row(form.name, { 'label': 'Nom' }) }}
    {{ form_row(form.from, { 'label': 'Email' }) }}
	{{ form_row(form.message, { 'label': 'Message' }) }}
	<button type="submit" class="btn btn-primary" data-label="Enregistrer">
		Envoyer
	</button>
{{ form_end(form) }}
